{% extends 'base_sample.html' %}

{% block linkcss %}<link rel="stylesheet" href="../../static/css/base_sample_cs.css">
<link rel="stylesheet" href="../../static/css/customer_login_cs.css">{% endblock %}
{% block title %}Vi-Sweet Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="title">Вхід</div>
        <div class="outter">
            <div class="content">
                {% if form.errors %}
                    <p>{{  form.errors.error }}</p>
                {% endif %}
        
                <form action="{% url 'login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn_submit">Submit</button>
                </form>
            </div>
    </div>
{% endblock %}
