.container{
    background-image: url("../img/background_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .blog_items{
      display: block;
      width: 100%;
      color: #FFFFFF;
  }
  
  .blog_items__item{
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(255, 255, 255, 0.7);
      margin-top: 70px;
      border-radius: 15px;
      color: black;
  }
  
  .blog_items__item__title{
      font-size: 22px;
      padding: 10px 15px;
  }
  
  .blog_items__item__description{
      font-size: 18px;
      padding: 20px 15px;
  }
  
  .blog_items:last-child{
      margin-bottom: -60px;
  }
  
  hr.blog_items_line{
      background-color: #FCCD3C;
      border: none;
      width: 85%;
      height: 3px;
      margin-top: 54px;
      margin-bottom: 54px;
  }
  
  .title {
      text-align: center;
      padding-top: 200px;
      padding-bottom: 30px;
      color: #FFFFFF;
  }
  