.title {
  text-align: center;
  padding-top: 200px;
  color: #FFFFFF;
}

.container{
  background-image: url("../img/background_img.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.catalog__items {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8.17%;
}

.catalog__items__item {
  background: rgba(255, 255, 255, 0.7);
  margin-top: 70px;
  border-radius: 15px;
}

.catalog__items__item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: -1;
  padding: 20px 25px;
}

.catalog__items__item__img img.cakes {
  -webkit-box-shadow: 3px 3px rgba(49, 49, 49, 0.5);
  box-shadow: 3px 3px rgba(49, 49, 49, 0.5);
  width: 231px;
  height: 213px;
  border-radius: 15px;
}

.catalog__items__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 87.5%;
  margin-left: auto;
  margin-right: auto;
}

.catalog__items__item__text__title {
  padding-right: 12%;
  float: left;
}

.catalog__items__item__text__price {
  float: left;
}

.catalog__items__item__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 7%;
}

.disabled{
  pointer-events: none;
  cursor: default;
}

.catalog__items__item__btn .btn_detail_cake {
  background: #909849;
  text-decoration: none;
  border: solid #909849;
  border-radius: 26px;
  padding: 5px 32px;
  color: #000000;
}

.catalog__items__item__btn .btn_detail_cake:hover {
  background: #6E7436;
  border: solid #6E7436;
  color: #000000;
}
