.container{
    background-image: url("../img/background_img.png");
    background-position-y: -200px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.title {
    text-align: center;
    padding-top: 200px;
    color: #FFFFFF;
  }

.content{
    background: rgba(255, 255, 255, 0.7);
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 15px;
    padding: 30px;
}

.outter{
    display: flex;
    justify-content: center;
    align-items: center;
}